# MY READ ME
TO_DO.md
requirements.txt
.gitignore
PROMPTS.md
MYREADME.md

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Virtual environments
venv/
env/
.env/
.conda/
envs/

# Testing
.pytest_cache/

# Debug files
**/src/utils/test_debug.py

# Test files
**/src/tests    

# Algorithm files
**/src/algorithms/aes.py
**/src/algorithms/ecc.py
**/src/algorithms/sha.py
**/src/algorithms/rsa_.py
**/src/algorithms/base_.py
