# MY READ ME
requirements.txt
.gitignore

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Virtual environments
venv/
env/
.env/
.conda/
envs/

# Testing
.pytest_cache/

# Debug files
**/src/utils/test_debug.py

# Test files
**/src/tests/test_aes.py
**/src/tests/test_ecc_.py
**/src/tests/test_rsa.py
**/src/tests/test_sha.py    

# Algorithm files
**/src/algorithms/sha_.py
**/src/algorithms/rsa_.py
**/src/algorithms/ecc_.py
**/src/algorithms/base_.py

# Example files
**/src/examples/des_example.py
**/src/examples/tripledes_example.py
**/src/examples/aes_example.py
**/src/examples/rsa_example.py
**/src/examples/ecc_example.py
**/src/examples/sha512_example.py